@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.hero {
  background: url(./images/hero-bg.svg) top center no-repeat;
  background-size: cover;
}

.footer {
  background: url(./images/footer.svg) top center no-repeat;
  background-size: cover;
}

.cta {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) fixed center center;
}

#header_slider #slide_item:nth-child(1){
  background:url("https://images.pexels.com/photos/374885/pexels-photo-374885.jpeg") no-repeat center center;
    background-size: cover;
  }
  
  #header_slider #slide_item:nth-child(2){ background:url("https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg") no-repeat center center;
    background-size: cover;
  }
  
  #header_slider #slide_item:nth-child(3){
  background:url("https://images.pexels.com/photos/2067628/pexels-photo-2067628.jpeg") no-repeat center center;
    background-size: cover;
  }

  .testmonial_btn_section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
  }

  .testmonial_btn_active{
    width: 20px;
    height: 20px;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    cursor: pointer;
  }
  .testmonial_btn_inactive{
    width: 20px;
    height: 20px;
    background-color: rgba(43, 43, 43, 0.3);
    border-radius: 20px;
    cursor: pointer;
  }
 


